body {
  font-family: Arial, sans-serif;
  font-size: larger;
  margin: 0;
  padding: 0;
  background: #c6b6a2;
  color: #333;
}

nav {
  background: #222;
  padding: 10px;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav li {
  margin-right: 20px;
}

nav a {
  text-decoration: none;
  color: #f8f9fa;
  font-weight: bold;
}

nav a:hover {
  color: #17a2b8;
}

.container {
  padding: 20px;
  max-width: 900px;
  margin: auto;
}
h1 {
  color: #222;
}
